:root {--main-font: 'Raleway','sans-serif';
--secondary-font: "Roboto",sans-serif;
--main-color: #2e2f42
--color-iris: #4d5ae5;
--color-ocean: #404bbf;
--color-navy-blue: #2e2f42;
--color-green: #31d0aa;
--color-slate: #434455;
--color-light-slate: #8e8f99;
--color-cornflower: #e7e9fc;
--color-cloud: #f4f4fd;
--color-navy-blue-modal: #2e2f42;
--color-grey: #2e2f42;
--color-white: #ffffff;
--color-dairy: #fcfcfc;}

/**
  |============================
  | Border box
  |============================
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
  |============================
  | Reset
  |============================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.list {
    list-style: none;
    text-decoration: none;
}
.address-page{font-style: normal}

/**
  |============================
  | Base styles
  |============================
*/

body {
    font-family:"Roboto",sans-serif;
    color: var(--color-slate);
    background-color: var(--color-white)
}

/**
  |============================
  | Header Main Page
  |============================
*/

.page-web {
    /* LOGO styles */
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;    
}
.studio-span {
    /* LOGO styles */
    color: #2e2f42;
}

/**
  |============================
  | HERO main page Section
  |============================
*/
.section-one {
    /* section 1 BG color */
    background-color: #2e2f42;
}
.header-one {
    /* Header 1 */
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.main-button {
    /* Button Text */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
}
.main-button:focus,
.main-button:hover {
    background-color: #404BBF;
}
/**
  |============================
  | Navigation
  |============================
*/
.page-contact {
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.02em;
    color: #434455;
}
.links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.link:focus,
.link:hover {
    color: #404BBF;
}

/**
  |============================
  | Section 2 "section sides"
  |============================
*/
.header-two-hidden {
    visibility: hidden;
}
.header-three{
    /* Header 3 */
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;}
/**
|============================
| Section 3 "what are we doing"
|============================
*/
.header-two-two{
    /* Header 2 */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;}

/**
  |============================
  | Section 4 "Our team"
  |============================
*/
.header-two-three{
    /* Header 2 */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;}   
.section-four{
    background: #F4F4FD;} 

/**
  |============================
  | Portfolio section 1
  |============================
*/
.header-one-hidden {
    visibility: hidden;
}
.menu-button {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #4D5AE5;
    background-color: #F4F4FD;
}

.menu-button:focus,
.menu-button:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}
/**
  |============================
  | Paragraf
  |============================
*/
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #434455;
}

/**
  |============================
  | Footer 
  |============================
*/

.footer-studio-span {
    color: #F4F4FD;
}

.footer-main {
    background: #2E2F42;
}

.footer-paragraf {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
}